:root {

}

html {
  background: green;
}

.card {
  background: white;
  border-radius: 6px;
  padding: 1rem;
}

.card__title {
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: rotateZ(90deg);
}

.card__body {
  color: green;
}

.card__body--massive {
  font-size: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}